:root {
    /* all colours defined in presentation colour schemes */
    --tan1: #FDF2E5;
    --tan2: #FBE2C6;
    --tan3: #F9D2A6;
    --tan4: #F4B266;

    --red1: #ffb9b6;
    --red2: #F24900;
    --red3: #7A2500;

    --blue1: #aebbe6;
    --blue2: #3A56B0;
    --blue3: #1F2D5C;

    --green1: #d3e7c0;
    --green2: #98c56f;
    --green3: #47602F;

    --black1: #4E4841;
    --black2: #3D3833;
    --black3: #2F2B27;
    --black4: #141414;
}

main{
    min-height: 73vh;
}
body {
    font-family: Lato, Arial, Helvetica, sans-serif;
    background-color: var(--tan1);
}
nav {
    
    background-color: var(--tan3);
    height: 74px;
    border-radius: 8px;
}
nav > ul {
    text-align: center;
    list-style-type: none;
    vertical-align: middle;
    border-radius: 8px;
}
.nav {
    margin-top:12px;
    display: inline-block;
    height:max-content;
    padding:16px;
    margin-left: 8px;
    border-radius:8px;
}
#navlogo {
    float:left;
    text-align: left;
    padding:12px;
    width:auto;
    height:52px;
}

#link13 {
    background-color: var(--red1);
}
#link13.active {
    background-color: var(--red2);
}
#link14 {
    background-color: var(--blue1);
}
#link14.active {
    background-color: var(--blue2);
}
#link15 {
    background-color: var(--green1);
}
#link15.active {
    background-color: var(--green2);
}
li.nav.active a{
    color: var(--tan1);
}

.nav a:hover {
    font-weight:bold;
}
.active {
    background-color: var(--black1);
}
.nav a {
    color: var(--black4);
    text-decoration: none;
}
#hamburger{
    display: none;
}

header {
    height: 52px;
    background-color: var(--tan2);
    margin: 16px;
    border-radius:8px;
}
h1 {
    margin:16px;
    padding:4px;
    text-align: center;
}
#h1logo {
    display: none;
}

#pageSummary
{
    color:black;
    text-align: center;
    margin:16px 30%;
}

#tabs {
    text-align: center;
    width: 100%;
    padding:0;
}
#tabs li {
    display:inline-block;
    margin: 4px;
    width: 15%;
}
.tab {
    width:100%;
    color:black;
    border:0;
    padding: 8px 16px;
    background-color: var(--tan3);
    border-radius: 5px;
}
button {
    font-size: medium;
    font-family: Lato, Arial, Helvetica, sans-serif;
}
#tabs button:hover {
    background-color: var(--tan2);
}
#tabs button:active {
    box-shadow:inset 2px 2px 4px gray;
}
#tabActive {
    font-weight:bold;
}
#tabText {
    align-content: center;
    margin: auto 15%;
    padding: 16px;
    line-height: 1.5em;
    border-radius:16px;
    border-width: 4px;
    border-style: solid;
}
#tabText > p {
    text-align: center;
}
.water {
    background-color: var(--blue1);
    border-color: var(--blue2);
}
.land {
    background-color: var(--green1);
    border-color: var(--green2);
}
.climate {
    background-color: var(--red1);
    border-color: var(--red3);
}
.centered
{
    margin:auto 20%;
    padding:16px;
    border: 2px solid white;
    border-radius: 20px;
    background-color: var(--tan2);
    align-content: center;
}
@keyframes imagehover {
    from {width:95%}
    to {width:99%}
}
@keyframes imageunhover {
    from {width:99%}
    to {width:95%}
}
.image {
    animation-name: imageunhover;
    animation-duration: 0.1s;
    width:95%;
    border-radius:8px;
}
.image:hover{
    animation-name:imagehover;
    animation-duration: 0.1s;
    width: 99%;
}
#mainImg
{
    display: block;
    border-radius: 32px;
    margin: 16px auto;
    width: 50%;
}
#teamImage {
    float:right;
    width:19%;
    border-radius: 8px;
}
#mainA {
    justify-content: center;
    margin: auto auto;
    display: flex;
    text-align: center;
}
#mainB 
{
    text-align: center;
}
#mainB article {
    margin: auto 4px;
    border-radius: 8px;
    background-color: var(--tan2);
}
.homeButton {
    max-width:512px;
    width:33%;
    display: inline-block;
}
.homeButton a {
    text-decoration: none;
    color: var(--black4);
}
.homeButton a h3 {
    font-weight:900;
}

.input {
    vertical-align: top;
    display: inline-block;
    width:40%;
    margin: 3%;
}
.input label{
    display: block;
}
.input input, .input textarea {
    width:100%;
    border-radius: 8px;
    background-color: var(--tan1);
    border-color: var(--black1);
    border-width: 2px;
}
.input textarea {
    width: 80%;
    resize: none;
}


#submit {
    line-height: 01.1em;
    width: 100%;
    background-color: var(--black3);
    color: var(--tan1);
    padding:6px 12px;
    border-style: none;
    border-radius: 8px;
    display: inline-block;
    text-align: center;
}
#submit:hover {
    background-color: var(--black1);
}

.felix {
    background-color: rgb(225, 204, 218);
    border-color: rgb(81, 32, 74);
}
.tom {
    border-color:#1e1c57;
    background-color: #cadaed;
}
.harry {
    border-color:rgb(22, 95, 63);
    background-color: rgb(189, 205, 198);
}

footer {
    margin: 1%;
    border-radius:8px;
    background: var(--tan2);
    text-align: center;
    padding: 0.1em;
}
footer img { float:right; margin-left: 16px ;}
@media only screen and (max-width:850px)  {
    .homeButton{
        width:90%;
    }
    #pageSummary{
        margin: 16px 5%;
    }
    #navlogo {
        display: none;
    }
    @keyframes hidenavanim {
        from {height: 216px;}
        to {height: 0;}
    }
    .hideNav{
        animation-name: hidenavanim;
        animation-duration: 0.5s;
    }
    .navBar {
        position:absolute;
        right:24px;
        top:60px;
        z-index: 1;
        height: 0;
        overflow: hidden;
        background-color: var(--tan2);
        padding:0;
        margin:0;
        margin-left:16px;
        display: inline-block;
    }
    @keyframes shownavanim {
        from {height: 0;}
        to {height: 216px;}
    }
    .showNav{
        height:216px;
        animation-name: shownavanim;
        animation-duration: 0.3s;
    }
    .navBar ul {
        padding:0;
        margin:0;
    }
    .nav {
        border-radius: 0;
        display: block;
        padding: 10px;
        margin:0;
        background-color: var(--tan2);
        font-size:small;
    }
    .nav.active {
        background-color: var(--black1);
    }
    
    header h1 {
        position:absolute;
        display: inline-block;
        line-height: 50%;
    }
    #hamburger {
        margin-top: 6px;
        display: block;
        float: right;
        padding: 12px 16px;
        height:55%;
    }
    #h1logo {
        display: inline;
        line-height: 0;
        position:relative;
        margin:8px;
        margin-right: 0;
        height: 36px;
    }
    #mainImg{
        width: 90%;
    }

    #tabs li {
        width: 45%;
    }

    #tabText{
        margin: auto 5%;
        height: 19%;
    }
    #mainA {
        display: block;
    }
    #mainB article{
        margin-bottom: 16px;
    }
    .centered{
        margin:auto 5%;
    }
    .input {
        justify-content: center;
        vertical-align: top;
        display: inline-block;
        width:90%;
        margin: 3%;
    }
    .input input, .input textarea {
        width: 100%;
    }
}